
    <div class="grid lg:grid-cols-2 container">   
    {% for tarjetas in servicios %}
      {% if tarjetas.visible %}   
      <div class="border-solid max-w-md px-8 py-4 mx-auto mt-16 shadow-lg dark:bg-gray-800" data-aos="fade-up">
        <div class="absolute right-10 -top-7">
          <div class="w-20 h-20 rounded-full border-2 border-red-700 ">
            <img class="p-1 rounded-full filter invert object-cover" alt="{{ tarjetas.titulo }}" src="{{ tarjetas.icono.url }}">
          </div>
        </div>
        <a href="{% url 'Servicios' %}#{{ tarjetas.titulo }}" class="mt-2 text-2xl max-w-xs font-semibold text-white md:mt-0 md:text-xl hover:text-red-500">{{ tarjetas.titulo }}</a>
        {% comment %} <h2 class="mt-2 text-2xl max-w-xs font-semibold text-white md:mt-0 md:text-xl">{{ tarjetas.titulo }}</h2> {% endcomment %}
        <p class="mt-2 text-justify text-gray-400 dark:text-gray-200">{{ tarjetas.resumen }}</p>        
      </div>
      {% endif %}
    {% endfor %}
    </div>