    
    <div class="grid xl:grid-cols-2 container">
      {% for tarjetas in cards %}
        {% if forloop.counter|divisibleby:2 == False %}
          <div class="m-6 xl:m-0 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl" data-aos="fade-up">
            <div class="md:flex">
              <div class="md:flex-shrink-0">
                <img class="h-48 object-cover md:w-48" src="{{ tarjetas.imagen.url }}" alt="A cat">
              </div>
              <div class="p-8">
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ tarjetas.titulo }}</a>
                <p class="mt-2 text-gray-500">{{ tarjetas.contenido }}</p>
              </div>
            </div>
          </div>
          <div></div>
        {% else %}
          <div></div>
          <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl" data-aos="fade-up">
            <div class="md:flex">              
              <div class="p-8">
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ tarjetas.titulo }}</a>
                <p class="mt-2 text-gray-500">{{ tarjetas.contenido }}</p>
              </div>
              <div class="md:flex-shrink-0">
                <img class="h-48 object-cover md:w-48" src="{{ tarjetas.imagen.url }}" alt="A cat">
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>