

  .active img {
	  animation-name: principal;
	  /* animation-delay: 4s, 9s; */
	  /* animation-delay: 1s; */
	  animation-duration: 10s;
	  animation-fill-mode: forwards;  
	  /* animation-duration: 3s;
	  animation-fill-mode: forwards; */
  }



  @keyframes principal {  
	  0% {
		transform: translateX(-100%);
		filter: saturate(0); 
		opacity: .25;
		z-index: 10;
		}
	  10% {
		transform: translateX(-75%);
		filter: saturate(0); 
		opacity: .25;
	  }
	  60% {
		transform: translateX(-75%);
		filter: saturate(0); 
		opacity: .25;
		z-index: 10;
		
	  }
	  70% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
		filter: saturate(1);
		opacity: 1;
	  }
	  84% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
		filter: saturate(1);
		opacity: 1;
	  } 
	  94% {
		transform: scaleX(0);
		transform-origin: 100% 100%;
	  }
	  95% {
		transform: scale(0,0);
		transform: scale(0,0.3);
		transform-origin: 100% 100%;
		opacity: 0.25; 
	  }
	  100% {
		transform: scale(.3);
		transform-origin: 100% 100%;
		filter: saturate(20%); 
		opacity: 1; 
		z-index: 0;
	  } 
  }

	  .word {
		text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
		transform: translateX(-50%) translateY(-50%);
		opacity: 1;

	  }
	  
	  .word:before,
	  .word:after {
		content: '';
		padding: .9em .4em;
		position: absolute;
		left: 50%;
		width: 100%;
		top: 50%;
		display: block;
		border: 7px solid red;
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
		animation: 3.4s infinite alternate ease-in-out tipsy;
	  }
	  
	  .word:before {
		border-color: red red rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		z-index: -1;		
	  }
	  
	  .word:after {
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) red red;
		box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
	  }

	  #banner .slide p {
		  display: none;
		}
	@keyframes tipsy {
		0 {
			transform: translateX(-50%) translateY(-50%) rotate(0deg);
		}
		100% {
			transform: translateX(-50%) translateY(-50%) rotate(160deg);
		}
	}
		  
	/* Los separadores hr */
	hr {
		background-color: red;
		padding: 0;
		margin: 40px;
	  }
	  
	  hr.hr-1 {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgb(31, 41, 55), red, rgb(31, 41, 55));
	  }
	
	/* Sombra de las cajas */

	  .sombra {
		-webkit-box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.25); 
		box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.25);
	  }
		