# /etc/systemd/system/web_base.service

[Unit]
Description=gunicorn daemon
Requires=web_rl.socket
After=network.target


[Service]
User=root
Group=www-data
WorkingDirectory=/home/gonzalo/web_rl/app
ExecStart=/home/gonzalo/web_rl/virtual/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/web_rl.sock \
    config.wsgi:application

[Install]
WantedBy=multi-user.target
