@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.link {
    @apply py-4 px-3 hover:text-gray-800;
} */

@layer utilities {
    .text-shadow-black {
        text-shadow: 2px 2px 5px black;
    }
    .text-shadow-red {
        text-shadow: 2px 2px 5px red;
      }
    .errorlist li {
        text-align: center;
        color: #dc2626;
    }
}



