
<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
    <title>{{ title }}</title>
</head>
<body class="bg-gray-800">
   <nav class="flex container mx-auto xl:px-32 lg:px-16 px-2 items-center justify-between flex-wrap bg-transparent text-white sticky top-0 z-50">
        <div class='mr-2'>
            <a href="{% url 'Home' %}" class='flex items-center py-4 px-3 h-14'>
                <img src="{% static 'images/RL_logo.png' %}" width="120" >
            </a>
        </div>

		<div class="block md:hidden">
			<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>

		<div class="w-full md:flex md:items-center md:w-auto hidden lg:pt-0" id="nav-content">
			<ul class="md:flex text-center items-center">
				<li class="mr-3 py-4">
					<a href="{% url 'Servicios' %}" class="text-shadow-black {% if request.path == '/servicios/' %} text-red-500{% endif %} py-4 px-3 hover:text-red-500" >SERVICIOS</a>
				</li>
				<li class="mr-3 py-4">
					<a href="{% url 'contacto:ContactForm' %}" class="text-shadow-black {% if request.path == '/contact/' %} text-red-500{% endif %} py-4 px-3 hover:text-red-500">CONTACTANOS</a>
				</li>
                <li class="md:hidden flex justify-around py-4">
                    <a href="https://cloud.redlinegs.com" class='py-4 hover:text-red-500'>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" filter="drop-shadow(3px 5px 2px black)">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                        </svg>  
                    </a>
                    <a href="http://webmail.redlinegs.com" class='py-4 hover:text-red-500'>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" filter="drop-shadow(3px 5px 2px black)">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                    </a>
                </li>

			</ul>
		</div>

        <div class='text-shadow-black hidden md:flex items-center space-x-1'>
            <a href="https://cloud.redlinegs.com" class='py-4 px-3 hover:text-red-500'>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" filter="drop-shadow(3px 5px 2px black)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                </svg>  
            </a>
            <a href="http://webmail.redlinegs.com" class='py-4 px-3 hover:text-red-500'>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" filter="drop-shadow(3px 5px 2px black)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
            </a>
        </div>
	
  
  </nav>
    <script src="{% static 'js/navbar.js' %}" ></script>